.icon
    display inline-block
    width 1em
    height 1em
    fill currentColor

.icon-basket
    font-size (24)
    width (24/24)*1em
.icon-basket-gray
    font-size (24)
    width (24/24)*1em
.icon-basket-white
    font-size (24)
    width (24/24)*1em
.icon-erip
    font-size (22)
    width (33.3/22)*1em
.icon-exit-2
    font-size (15)
    width (20/15)*1em
.icon-facebook
    font-size (34)
    width (34/34)*1em
.icon-google
    font-size (34)
    width (34/34)*1em
.icon-info
    font-size (15)
    width (15/15)*1em
.icon-instagram
    font-size (34)
    width (34/34)*1em
.icon-like
    font-size (24)
    width (27.3/24)*1em
.icon-like-active
    font-size (500)
    width (568.8/500)*1em
.icon-mastercard
    font-size (22)
    width (37.1/22)*1em
.icon-mastercard_sc
    font-size (22)
    width (61.9/22)*1em
.icon-menu
    font-size (16)
    width (20/16)*1em
.icon-new
    font-size (54)
    width (54/54)*1em
.icon-ok
    font-size (34)
    width (34/34)*1em
.icon-premium
    font-size (60)
    width (60/60)*1em
.icon-sale
    font-size (54)
    width (54/54)*1em
.icon-search
    font-size (27)
    width (27/27)*1em
.icon-search-mob
    font-size (27)
    width (27/27)*1em
.icon-skype
    font-size (15)
    width (20/15)*1em
.icon-star
    font-size (14)
    width (15/14)*1em
.icon-star-cur
    font-size (14)
    width (15/14)*1em
.icon-star-gray
    font-size (14)
    width (15/14)*1em
.icon-track
    font-size (15)
    width (20/15)*1em
.icon-twitter
    font-size (34)
    width (34/34)*1em
.icon-users
    font-size (60)
    width (60/60)*1em
.icon-velcom
    font-size (15)
    width (20/15)*1em
.icon-verified_by_visa
    font-size (22)
    width (51.2/22)*1em
.icon-video
    font-size (60)
    width (76/60)*1em
.icon-visa
    font-size (22)
    width (58.5/22)*1em
.icon-vk
    font-size (34)
    width (34/34)*1em
.icon-webpay
    font-size (22)
    width (76.8/22)*1em
.icon-youtube
    font-size (34)
    width (34/34)*1em
