$s-arr-b-black-thin = 30px 99px -30px -99px 7px 4px 113px 103px 'sprite.png';
$s-arr-b-black = 83px 65px -83px -65px 9px 6px 113px 103px 'sprite.png';
$s-arr-b-blue = 88px 85px -88px -85px 7px 7px 113px 103px 'sprite.png';
$s-arr-l-black-sm = 30px 85px -30px -85px 6px 9px 113px 103px 'sprite.png';
$s-arr-l-black = 15px 85px -15px -85px 10px 18px 113px 103px 'sprite.png';
$s-arr-l-gray = 102px 37px -102px -37px 10px 15px 113px 103px 'sprite.png';
$s-arr-r-black-sm = 41px 85px -41px -85px 6px 9px 113px 103px 'sprite.png';
$s-arr-r-black = 0px 85px 0px -85px 10px 18px 113px 103px 'sprite.png';
$s-arr-r-blue = 76px 85px -76px -85px 7px 7px 113px 103px 'sprite.png';
$s-arr-r-gray = 38px 65px -38px -65px 10px 15px 113px 103px 'sprite.png';
$s-arr-t-black-thin = 100px 85px -100px -85px 7px 4px 113px 103px 'sprite.png';
$s-arr-t-black = 97px 65px -97px -65px 9px 6px 113px 103px 'sprite.png';
$s-certificated = 81px 0px -81px 0px 32px 32px 113px 103px 'sprite.png';
$s-clear-filter = 64px 85px -64px -85px 7px 7px 113px 103px 'sprite.png';
$s-close-gray = 52px 85px -52px -85px 7px 7px 113px 103px 'sprite.png';
$s-icon-subway = 81px 37px -81px -37px 16px 16px 113px 103px 'sprite.png';
$s-link-point = 20px 65px -20px -65px 13px 15px 113px 103px 'sprite.png';
$s-minus-act = 81px 58px -81px -58px 10px 2px 113px 103px 'sprite.png';
$s-minus = 96px 58px -96px -58px 10px 2px 113px 103px 'sprite.png';
$s-plus-act = 53px 65px -53px -65px 10px 10px 113px 103px 'sprite.png';
$s-plus = 68px 65px -68px -65px 10px 10px 113px 103px 'sprite.png';
$s-popup-close = 0px 65px 0px -65px 15px 15px 113px 103px 'sprite.png';
$s-video-btn = 0px 0px 0px 0px 76px 60px 113px 103px 'sprite.png';
