footer.l-footer
	.l-container.transparent
		+b('').footer-table
			+e('').row
				+e('').left
					+b('span').footer-logo
						+e('img')(src='../img/logo-footer.png')
					+b('').social
						+e('span').title следуй за нами:
						+e('a').item
							+svg-icon('instagram')
						+e('a').item
							+svg-icon('vk')
						+e('a').item
							+svg-icon('facebook')
						+e('a').item
							+svg-icon('twitter')
						+e('').item
							+svg-icon('ok')
						+e('a').item
							+svg-icon('youtube')
						+e('a').item
							+svg-icon('google')
					+b('').footer-text
						p УНП 691170201 Частное предприятие "ПримаБотти".
						p Свидетельство выдано Вилейским исполнительным комитетом 11.11.2011 Зарегистрировано в торговом реестре №691170201-7 30.12.2014г.
						p Юридический адрес: РБ, Минская обл., Вилейский р-н, д. Людвиново ул. Белорусская, д.34
						p Режим работы: ежедневно с 8 до 20
				+e('').right
					+b('').footer-list
						+e('').category.dbl
							+e('').title-wrap
								+e('a').title Сервис
								+e('a').button
							+e('').wrap
								+e('ul').cell
									+e('li')
										+e('a')(href="#").link Как сделать заказ
									+e('li')
										+e('a')(href="#").link Как сделать заказ
									+e('li')
										+e('a')(href="#").link Как сделать заказ
									+e('li')
										+e('a')(href="#").link Как сделать заказ
									+e('li')
										+e('a')(href="#").link Как сделать заказ
								+e('ul').cell
									+e('li')
										+e('a')(href='#').link Правила продажи
									+e('li')
										+e('a')(href='#').link Правила продажи
									+e('li')
										+e('a')(href='#').link Правила продажи
									+e('li')
										+e('a')(href='#').link Правила продажи
									+e('li')
										+e('a')(href='#').link Правила продажи
									+e('li')
										+e('a')(href='#').link Правила продажи
						+e('').category
							+e('').title-wrap
								+e('a').title О Компании
								+e('a').button
							+e('').wrap
								+e('ul').cell
									+e('li')
										+e('a')(href="#").link Контакты
									+e('li')
										+e('a')(href="#").link Контакты
									+e('li')
										+e('a')(href="#").link Контакты
									+e('li')
										+e('a')(href="#").link Контакты
									+e('li')
										+e('a')(href="#").link Контакты
						+e('').category
							+e('').title-wrap
								+e('a').title Каталог
								+e('a').button
							+e('').wrap
								+e('ul').cell
									+e('li')
										+e('a')(href="#").link Женщинам
									+e('li')
										+e('a')(href="#").link Женщинам
									+e('li')
										+e('a')(href="#").link Женщинам
									+e('li')
										+e('a')(href="#").link Женщинам
			+e('').row
				+e('').left
					+b('').footer-text
						p Copyright 2015 <a href='#'>www.sisters.by</a><br>Разработка интернет магазина  — <a href='#'>Студия SWD</a>
				+e('').right
					+b('').payments
						+svg-icon('visa')
						+svg-icon('mastercard')
						+svg-icon('webpay')
						+svg-icon('erip')
						+svg-icon('mastercard_sc')
						+svg-icon('verified_by_visa')
					+b('').footer-text.vis-mob
						p УНП 691170201 Частное предприятие "ПримаБотти".
						p Свидетельство выдано Вилейским исполнительным комитетом 11.11.2011 Зарегистрировано в торговом реестре №691170201-7 30.12.2014г.
						p Юридический адрес: РБ, Минская обл., Вилейский р-н, д. Людвиново ул. Белорусская, д.34
						p Режим работы: ежедневно с 8 до 20
					+b('').footer-text.vis-mob
						p Copyright 2015 <a href='#'>www.sisters.by</a><br>Разработка интернет магазина  — <a href='#'>Студия SWD</a>
