header.l-header.top
	.l-container.bg-gray
		+b('').header-top
			+e('').left
				+e('').wrap
					+svg-icon('velcom')
					+e('span').item (029) 161-20-20
				+e('').wrap
					+svg-icon('skype')
					+e('span').item sister.by
				+e('').wrap
					+e('a').item.link Заказать звонок
				+e('').wrap
					+e('a').item.link Обратная связь
			+e('').right
				+e('').wrap
					+svg-icon('users', 'icon-users')
					+e('span').item.link <a href='#'>Вход</a>&nbsp;/&nbsp;<a href='#'>Регистрация</a>
				+e('').wrap
					+svg-icon('track')
					+e('a').item.link Отслеживание посылки