@font-face
	font-family AvenirNextCyr
	src url(../fonts/AvenirNextCyr-Bold.woff) format("woff")
	font-weight 700
	
@font-face
	font-family AvenirNextCyr
	src url(../fonts/AvenirNextCyr-Demi.woff) format("woff")
	font-weight 600
	
@font-face
	font-family AvenirNextCyr
	src url(../fonts/AvenirNextCyr-Medium.woff) format("woff")
	font-weight 500
	
@font-face
	font-family AvenirNextCyr
	src url(../fonts/AvenirNextCyr-Regular.woff) format("woff")
	font-weight 400
	
@font-face
	font-family Century
	src url(../fonts/Century.woff) format("woff")
	font-weight 400

// @font-face
// 	font-family 'fontello'
// 	src url('../fonts/fontello.eot')
// 	src url('../fonts/fontello.eot#iefix') format('embedded-opentype')
// 		url('../fonts/fontello.woff') format('woff')
// 		url('../fonts/fontello.ttf') format('truetype')
// 		url('../fonts/fontello.svg#fontello') format('svg')
// 	font-weight normal
// 	font-style normal
